<body>
  

<div>
  <form (ngSubmit)="onSubmit()" #textForm="ngForm">
  <h2>个人信息表</h2>
  <ul>
  <li>姓名: <input type="text" class="form-control"  [(ngModel)]="data.oneChild"  name="name" #name="ngModel" required="required" maxlength="5">
    <li [hidden]="name.valid || name.pristine"
         class="alert alert-danger">
      姓名不能为空
    </li>
  <li>性别: <input type="text" class="form-control"  [(ngModel)]="data.twoChild"  name="sex"  #sex="ngModel" required="required" pattern="['男'|'女']"></li>
    <li [hidden]="sex.valid || sex.pristine"
        class="alert alert-danger">
      性别只能为男或女
    </li>
  <li>年龄: <input type="text" class="form-control"  [(ngModel)]="data.threeChild"  name="age"  #age="ngModel" required pattern="^(?:[1-9][0-9]?|1[01][0-9]|120)$"></li>
    <li [hidden]="age.valid || age.pristine"
        class="alert alert-danger">
      年龄只能在1-120之间
    </li>
  <li>电话: <input type="text" class="form-control"  [(ngModel)]="data.fiveChild"  name="tel"  #tel="ngModel" required pattern="^1[34578]\d{9}$"></li>
    <li [hidden]="tel.valid || tel.pristine"
        class="alert alert-danger">
      手机号格式不正确
    </li>
  <li>地址: <input type="text" class="form-control"  [(ngModel)]="data.fourChild"  name="add" #add="ngModel" required></li>
    <li [hidden]="add.valid || add.pristine"
        class="alert alert-danger">
      地址不能为空
    </li>
  <li><button type="submit"  class="btn btn-success"   [disabled]="!textForm.form.valid" (click)="saveDate()" routerLink="/twochild">提交数据</button></li>
</ul>
</form>
</div>

</body>
