body{
  width: 100%;
}
div {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 10%;
  background: cadetblue;
  text-align: center;
  overflow: hidden;
  }
  input{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    border:1px solid black;
    border-radius: 5px;
  }
  button {
    width: 100px;
    height: 40px;
    margin-top: 30px;
    border-radius: 25px;
    border:none;
  }
  li{
    list-style: none;
}
h2{
  margin-top: 5%;
}