<div>
  <form action="">
    <h2>信息显示页</h2>
      <ul>
        <li>姓名: <input type="text" [value]='data.oneChild' readonly></li>
        <li>性别: <input type="text" [value]='data.twoChild' readonly></li>
        <li>年龄: <input type="text" [value]='data.threeChild' readonly></li>
        <li>电话: <input type="text" [value]='data.fourChild' readonly></li>
        <li>地址: <input type="text" [value]='data.fiveChild' readonly></li>
        <li><button routerLink="/threechild">修改数据</button></li>
      </ul>
  </form>
</div>
